body {
    background-attachment: #1e1f24;
    background: #333;
    text-align: center;
    font-family: Arial;
    font-size: large;
    color: black;
}
#cabecera {
    color: white;
    margin: 0;
    padding: 0.5em 0 0.5em 2em;
    box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.75);
}
#cabecera #logo {
    width: 20px;
    vertical-align: left;
}
#cabecera #tagline {
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
#container {
    width: 70;
    padding: 0;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
    font-weight: bold;
}

#container h1 {
    font-size: 20px;
}
#container p {
    font-weight: normal;
}
#footer {
    background-color: gray;
    color: white;
    text-align: center;
    padding: 0.4em;
}
#post {
    background: white;
    padding: 1em;
}